.App {
  background-color: #282c34;
  min-height: 100vh;
  text-align: center;
}

.equipe{
  color:#FFFFFF;
  flex:2;
  font-weight: bold;
  font-size:20px;
}

.vs{
  color: #ec3838;
  font-weight: bold;
}

html{
  background-color: #282c34;
}
.color-blue{
  color: #282c34;
}
.border{
  border: solid 1px #868686 !important;
}